.bg-color-animation {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb;
}

.bg-color-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(90deg, transparent, #f3f4f6, transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}
